.option-list-container {
    display: flex;
    justify-content: space-around;
    flex-grow: 1;
}

.menu-option {
    list-style: none;
    font-weight: 500;
    padding: 4px;
}

.menu-option a {
    color: var(--color-black);
    text-decoration: none;
}

.menu-option a:visited {
    color: var(--color-black);
}
