.nav-bar-container {
    display: flex;
}

.home-container {
    flex: 1;
    display: flex;
    align-items: center;
}

.option-container {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.social-container {
    flex: 1;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}