.social-logo:hover {
    fill: var(--primary-color);
    transition-duration: var(--hover-transition-duration);
}

.profile-list {
    list-style: none;
    margin-left: 40px;
    z-index: 1000;
}

.profile-list-container {
    display: flex;
    justify-content: flex-end;
}