.about-container {
    display: flex;
    position: relative;
}

.about-container .dummy-circle {
    background-color: var(--secondary-color-light);
    position: absolute;
    height: 600px;
    width: 600px;
    border-radius: 50%;
    right: -300px;
    top: -340px;
}

.bio-container {
    flex: 6;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 40px;
    flex-direction: column;
    gap: 16px;
    position: relative;
    top: -10vh;
}

.bio-container .key-text {
    font-size: 70px;
    font-weight: 600;
}

.bio-container .detailed-text {
    font-size: 20px;
}

.display-picture-container {
    flex: 5;
    overflow: hidden;
    border-radius: 100% 10px 100% 100%;
    height: 660px;
    background-color: var(--primary-color-light);
    z-index: 1;
    min-width: 300px;
}

.display-picture {
    height: 100%;
    width: 100%;
}

.about-container .dummy-circle-container {
    display: flex;
    flex-wrap: wrap;
    width: 150px;
    min-width: 150px;
    height: 100px;
    position: relative;
    right: -50vw;
    top: 18vh;
}

.dummy-circle-container .dummy-circle-child {
    background-color: var(--primary-color);
    width: 8px;
    height: 8px;
    margin: 5px;
    border-radius: 100%;
    animation: dummy-circle-child-animation 10s linear 0s infinite, forwards;
}

@keyframes dummy-circle-child-animation {
    0% {
        background-color: var(--primary-color);
    }
    17% {
        background-color: var(--secondary-color);
    }
    50% {
        background-color: var(--third-color);
    }
    88% {
        background-color: var(--primary-color);
    }
}
