.language-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
}

.title-content {
    font-size: 22px;
    font-weight: 500;
    margin-bottom: 8px;
}