:root {
  --primary-color: rgb(29, 189, 247);
  --primary-color-light: rgba(29, 189, 247, 0.3);
  --secondary-color: rgb(100, 255, 200);
  --secondary-color-light: rgba(100, 255, 200, 0.3);
  --color-black: black;

  --hover-transition-duration: 125ms;
}

*, *::after, *::before {
  box-sizing: border-box;
  scroll-behavior: smooth;
}

.app {
  font-family: 'Karla', sans-serif;
  overflow: hidden;
}

.react-p5 {
  display: inline-block;
}

.outmost-container {
  padding: 20px 80px;
}

.text-hover-style:hover {
  color: var(--primary-color) !important;
  transition-duration: var(--hover-transition-duration) !important;
}

@media (max-width: 768px) {
  .app {
    overflow: auto;
  }

  .outmost-container {
    padding: 8px;
  }
}